.App {
  text-align: center;
}
.login-sec {
  text-align: center;
}
.inner-log {
  color: black;
}
.login-sec {
  width: 100%;
  text-align: center;
}
.form {
  width: 50%;
  margin: 0 auto;
}
.input-sec {
  width: 50%;
  margin-bottom: 10px;  
}
.ant-form-item-control-input-content {
  flex: auto;
  max-width: 40% !important;
}
.form1{
  margin: auto;
  width: 80%;
  padding: 50px;
}
.card1{
  background: #ececec;
 padding: 10px;
}